/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Englebert&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

For headings*************************
.englebert-regular {
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700
For details*********************************
.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


* {
	margin: 0;
	padding: 0;
}

.about-heading1 {
	text-align: center;
	color: #006494;
 font-family: "Englebert", cursive;
  font-weight: 800;
  font-style: normal;

}

.about-heading2 {
	width: 5%;
	height: 5px;

	margin: 0 auto 0 auto;

	background-color: #1b2225;
}

.about-us-detail {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.card-font {
	background-color: #006494;
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	
}
.card-font-middle{
background-color: #006494;
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
background-color: #b23a48;
	color:aliceblue;
	height: 22rem;


}


.card-font-1 {
	background-color: #1b2225;
	background-color: #eae6dfc8;
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
.btn {
	background-color: #c1121f;
	background-color: #669bbc;
	background-color: #b23a48;
	color:aliceblue;
}

.btn-middle
{
	background-color: #ac6d74;
	background-color: #4e7689;
	color:aliceblue;
}

.footer1{
	/* background-color: black; */
	
text-align: center;
font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style : normal;

	
}